html, body, #app {
  width: 100%;
  height: 100%;
  color: $--color-default;
  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

code {
  line-height: 1.6;
}

@include b(doc-container) {
  height: 100%;
  padding-top: 52px;
  display: flex;

  @include when(column) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
