/* Colors
-------------------------- */
.id-doc-home {
  padding: 0 24px;
  box-sizing: border-box; }
  .id-doc-home__logo {
    width: 480px;
    height: 140px;
    background: url(./3279623bf5c25ec58d35f9664bd5e1f7.svg) center center no-repeat;
    background-size: cover; }
  .id-doc-home__title {
    margin: 18px 0 36px 0;
    text-align: center; }
    .id-doc-home__title em {
      font-style: normal;
      font-weight: 400;
      -webkit-background-clip: text;
      background-image: linear-gradient(35deg, #1f74ff, #ff4757);
      animation: hue 3s infinite linear; }

@keyframes hue {
  from {
    filter: hue-rotate(0deg); }
  to {
    filter: hue-rotate(-360deg); } }

