html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.id-button {
  position: relative;
  color: #fff;
  background: #eee;
  border-radius: 5px;
  border: 0;
  outline: none;
  overflow: hidden;
  transition: all .2s ease;
  cursor: pointer; }

