/* Colors
-------------------------- */
$--color-white: #fff !default;
$--color-black: #1e1e1e !default;

$--color-primary: #1f74ff !default;

$--color-success: #46c93a !default;
$--color-warning: #ffba00 !default;
$--color-danger: #ff4757 !default;
$--color-default: #5b5777 !default;
