@include b(doc-header) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  padding: 0 24px;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include e(logo) {
    width: 146px;
    height: 100%;
    background: url("../../assets/images/logo.svg") center center no-repeat;
    background-size: cover;
  }

  @include e(nav) {
    height: 100%;
    margin: 0;
    color: $--color-default;
    list-style: none;
    display: flex;
    align-items: center;

    & a {
      position: relative;
      height: 36px;
      margin-left: 12px;
      padding: 0 12px;
      line-height: 36px;
      display: block;
      &.router-link-active {
        color: $--color-primary;
        &::after {
          width: 100%;
        }
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background: $--color-primary;
        display: block;
        transform: translate(-50%);
        transition: all .2s ease;
      }
    }
  }
}
