@include b(card) {
  width: calc(100% - 10px);
  margin: 5px;
  border-radius: 4px;
  box-shadow: 0 9px 28px -9px rgba(0, 0, 0, .1);

  @include e(header) {
    padding: 16px;
    background: #f8f8f8;
    border-radius: 4px 4px 0 0;
    display: flex;
  }

  @include e(body) {
    padding: 16px;
    background: $--color-white;
    border-radius: 0 0 4px 4px;
  }
}
